# See https://docs.bazel.build/versions/master/user-manual.html#bazelrc.

#build:ci --all_incompatible_changes
build:ci --sandbox_debug
build:ci --verbose_failures
# Make sure we don't rely on the names of convenience symlinks because those
# can be changed by user.
build:ci --symlink_prefix=foobar
common:ci --color=no
test:ci --test_output=errors

test:lint --build_tests_only
test:lint --test_tag_filters=lint
