import %workspace%/../../.bazelrc.common
import %workspace%/../../.bazelrc.bzlmod

# Remote Cache Authentication
# ---------------------------
try-import %workspace%/../../.bazelrc.auth

# User Configuration
# ------------------
try-import %workspace%/../../.bazelrc.local
