# This file contains options passed to Bazel when running tests on
# continuous integration services. Run with: bazel test --config=ci

#build:ci --all_incompatible_changes
build:ci --genrule_strategy=standalone
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --verbose_failures
build:ci --jobs=0 # avoid OOM condition caused by high levels of concurrency on Circle CI
common:ci --color=no
test:ci --test_output=errors
test:ci --test_strategy=standalone
