name: Publish

on:
  release:
    types: [released]
  workflow_dispatch: # allows manual triggering

jobs:
  webpage:
    name: Update webpage
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          ref: release
      - name: Configure git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Merge master into release
        run: git merge --no-edit origin/master
      - name: Fetch latest release artifact
        id: latest
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download -p '*.tar.gz' -D release
          ls release | sed -ne 's/rules_haskell-\(.*\)[.]tar[.]gz/version=\1/p' >> "${GITHUB_OUTPUT}"
          shasum -a 256 release/*.tar.gz | awk '{print "hash=" $1}' >> "${GITHUB_OUTPUT}"
      - name: Update hash in start script and docs
        run: |
          sed -i \
             -e '/bazel_dep(name = "rules_haskell"/s/version = "[^"]*"/version = "${{ steps.latest.outputs.version }}"/' \
             start
          # update http_archive attrs between `name = "rules_haskell"` and `url = "`
          sed -i \
             -e '/name = "rules_haskell"/,/url = "/{' \
             -e '  s%x\{64\}%${{ steps.latest.outputs.hash }}%; ' \
             -e '  s%M[.]NN%${{ steps.latest.outputs.version }}%g ' \
             -e '}' \
             start docs/haskell-use-cases.rst
      - name: Commit and Push
        run: |
          if ! git diff --exit-code ; then
            git add start docs/haskell-use-cases.rst
            git commit -m "Update rules_haskell in start script and docs to version ${{ steps.latest.outputs.version }}"
            git push
          fi
