name: Update GHC
on:
  schedule:
    # run weekly on Thursday
    - cron: '0 15 * * THU'
  workflow_dispatch: # allows manual triggering
jobs:
  update_ghc:
    name: GHC ${{ matrix.ghc }} Update
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        ghc:
          - '9.2'
          - '9.4'
          - '9.6'
          - '9.8'
          - '9.10'
          - '9.12'
          - '9.14'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: master
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=nixpkgs/default.nix
      - name: Fetch updates
        id: ghc_update
        run: |-
          nix-shell -p 'bazel-buildtools' 'python3.withPackages (ps: [ps.packaging])' --run \
            'python .github/update-ghc.py ${{ matrix.ghc }}'
      - name: Create Pull Request
        if: steps.ghc_update.outputs.latest != ''
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: "Add GHC bindist version ${{ steps.ghc_update.outputs.latest }}"
          title: "[update] GHC ${{ matrix.ghc }}"
          branch: "automation/update-ghc-${{ matrix.ghc }}"
          base: master
          token: "${{ secrets.PR_TRIGGER_TOKEN }}"
